// bower:scss
// endbower
@import 'variables';

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  height: 100%;

  a,
  a:link {
    color: $c-blue;
  }
}

.browserupgrade {
  margin: 0;
  background: $c-gray-light;
  color: $c-gray-dark;
  padding: $s-small;
}
