.content-box {
  background-color: $c-white;
  margin: 80px auto;
  padding: 40px;
  transition: margin 0.3s ease-out;
  width: 560px;

  @include media-breakpoint-down(xs) {
    margin: 40px auto;
    padding: 20px;
    width: calc(100% - 40px);
  }

  @include media-breakpoint-down(xxs) {
    width: 100%;
  }
}
