.about-me {
  @extend .big-shadow, .content-box;

  h1 {
    @extend .main-heading;
  }

  img {
    @extend .big-shadow;
    height: auto;
    width: 200px;
  }

  .media-left {
    margin: 0 30px 0 -180px;
  }

}

.about-me__text {
  padding-left: 0;
}
