.main-header {
  @extend .content-box;

  background-color: $c-white;
  line-height: 1.3;
  padding-top: 20px;
}

.main-header__title {
  border-bottom: 1px solid $c-red;
  font-family: 'Lato', sans-serif;
  font-size: $fs-huge;
  font-weight: 100;

  @include media-breakpoint-only(xs) {
    font-size: 3.2rem;
    font-family: inherit;
    letter-spacing: 1.6px;
  }
}

.main-header__subtitle {
  font-size: $fs-big;
  font-weight: 200;
  letter-spacing: 1.2px;
  margin-top: 10px;

  @include media-breakpoint-only(xs) {
    font-size: 1.1rem;
    font-weight: 300;
  }
}
