.short-form {
  @extend .big-shadow, .content-box;

  margin: 80px auto;

  p {
    margin: 40px 0;
  }
}


.short-form__contact {
  display: flex;
  justify-content: space-between;
  color: $c-red;

  a {
    color: $c-red !important;
    text-decoration: none;
  }
}
