.content-box {
  background-color: $c-white;
  margin: 80px auto;
  padding: 40px;
  width: 560px;

  @include media-breakpoint-only(xs) {
    margin: 40px auto;
    padding: 20px;
    width: 400px;
  }
}
