<section class="modus-operandi intro">

  <div class="header">
    <h1>Kompetenzen</h1>
    <div class="header-list">
      <span class="header-item active">UX Design</span>
      <span class="header-item">Frontend Engineering</span>
      <span class="header-item">Coaching</span>
      <div class="header-slider"></div>
    </div>
  </div>

  <div class="content-container">
    <section class="content active">
      <div class="content-item box active">
        <h1>Zum Kern vordringen</h1>
        <p>Eine passende Lösung kann nur gefunden werden, wenn das Problem richtig verstanden wurde. Mein Talent ist es, die richtigen Fragen zu stellen. Sehr schnell zeigt sich so der Kern der Herausforderung – und welche Lösung am sinnvollsten ist.</p>
      </div>
      <div class="content-item box">
        <h1>Moderne Design Patterns</h1>
        <p>Pull-to-Refresh, Pinch-to-Peek, Swipe-for-Options und Sliding Panels zeigen, dass User Interface Design sich stetig entwickelt. </p>
        <p>Ich kenne die Stärken und Schwächen moderner Design Patterns und zeige, wann welcher Ansatz sinnvoll ist.</p>
      </div>
      <div class="content-item box">
        <h1>Joy of Use</h1>
        <p>Die Kerneigenschaften jeder App: 1) Perception of Speed – sie fühlt sich schnell an, 2) Interaction Impact – jede Interaktion bringt den Nutzer spürbar näher zum Ziel, 3) Expectation Conformity – der nächste Zustand der App ist vorhersehbar, 4) Visual Feedback – jede Veränderung der App ist sichtbar nachvollziehbar.</p>
      </div>
      <div class="content-item box">
        <h1>Research &amp; Testing</h1>
        <p>Im Benchmark werden Wettbewerb und Apps mit ähnlichen Interaktionen untersucht.</p>
        <p>Ich erstelle Handscribbles und native Prototypen, die erste Nutzertests ermöglichen und später in einen Living-Styleguide übergehen.</p>
      </div>
    </section>

    <!--   Frontend Engineer   -->
    <section class="content">
      <div class="content-item box active">
        <h1>Clean Code</h1>
        <p>Code muss so geschrieben sein, dass er schnell zu erfassen und selbstdokumentierend ist.</p>
        <p>Das spart Einarbeitungs- und Wartungszeit und ist Fundament eines jeden Softwareprojektes unter meiner Leitung.</p>
      </div>
      <div class="content-item box">
        <h1>Quick prototyping</h1>
        <p></p>
      </div>
      <div class="content-item box">
        <h1>JavaScript, EcmaScript, TypeScript</h1>
        <p></p>
      </div>
      <div class="content-item box">
        <h1>Functional programming</h1>
        <p></p>
      </div>
      <div class="content-item box">
        <h1>Kommende Standards</h1>
        <p></p>
      </div>

    </section>

    <!--   Coach   -->
    <section class="content">
      <div class="content-item box">
        <h1>Zusammen stark sein</h1>
        <p>Ein Konzept wird erst durch das Zusammenspiel von Konzeptern, Designern und Programmierern gut. Das Gefühl, gemeinsam etwas Großes zu erschaffen, ist für mich wichtiger, als meine individuelle Profilierung. </p>
      </div>
      <div class="content-item box">
        <h1>Strukturiert vorgehen</h1>
        <p>Jeder muss zu jeder Zeit wissen, was er zu tun hat. Und jeder sollte nach seinen Fähigkeiten eingesetzt werden. Wenn mir die Leitung eines Teams anvertraut wird, sorge ich dafür, dass alle Beteiligten (samt Kunden) stets ein gutes Gefühl haben.</p>
      </div>
    </section>
  </div>

</section>
