<section class="modus-operandi intro">

  <div class="header">
    <h1>Modus operandi</h1>
    <div class="header-list">
        <span class="header-item active">UX Designer</span>
        <span class="header-item">Frontend Engineer</span>
        <span class="header-item">Product Owner</span>
        <div class="header-slider"></div>
      </div>
  </div>

  <div class="content-container">
      <section class="content active">
        <div class="item box active">
          <h1>Joy of use</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolores rerum reprehenderit autem, eius, cupiditate reiciendis in fugiat vero praesentium sint sapiente magnam adipisci ad quos nam distinctio animi vitae.</p>
        </div>
        <div class="item box">
          <h1 class="item-heading">Visual feedback</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quam hic autem deserunt quasi sapiente nisi omnis. Ipsam officia provident fuga, praesentium voluptate eum explicabo quia ipsum repellendus incidunt. Sequi?</p>
        </div>
      </section>

  <!--   Frontend Engineer   -->
      <section class="content">
        <div class="item box active">
          <h1>Clean code</h1>
          <p>Fugit, dolores rerum reprehenderit autem, eius, cupiditate reiciendis in fugiat vero praesentium sint sapiente magnam adipisci ad quos nam distinctio animi vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="item box">
          <h1 class="item-heading">Quick prototyping</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quam hic autem deserunt quasi sapiente nisi omnis. Ipsam officia provident fuga, praesentium voluptate eum explicabo quia ipsum repellendus incidunt. Sequi?</p>
        </div>

      </section>

  <!--   Product owner   -->
      <section class="content">
        <div class="item box active">
          <h1 class="item-heading">People First</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolores rerum reprehenderit autem, eius, cupiditate reiciendis in fugiat vero praesentium sint sapiente magnam adipisci ad quos nam distinctio animi vitae.</p>
        </div>
      </section>
    </div>

</section>
