<section class="modus-operandi intro">

  <div class="header">
    <h1>Leistungen</h1>
    <div class="header-list">
        <span class="header-item active">UX Designer</span>
        <span class="header-item">Frontend Engineer</span>
        <span class="header-item">Product Owner</span>
        <div class="header-slider"></div>
      </div>
  </div>

  <div class="content-container">
      <section class="content active">
        <div class="content-item box active">
          <h1>Zum Kern vordringen</h1>
          <p>Eine passende Lösung kann nur gefunden werden, wenn das Problem richtig verstanden wurde. Mein Talent ist es, die richtigen Fragen zu stellen. Sehr schnell stößt man dabei auf die eigentliche Aufgabe.</p>
        </div>
        <div class="content-item box">
          <h1>Zusammen stark sein</h1>
          <p>Ein Konzept wird erst durch das Zusammenspiel von Konzeptern, Designern und Programmierern gut. Das Gefühl, gemeinsam etwas Großes zu erschaffen, ist für mich wichtiger, als meine individuelle Profilierung. </p>
        </div>
        <div class="content-item box">
          <h1>Den Vorsprung nutzen</h1>
          <p>Neue Technologien bewirken neue Nutzungsweisen. Nur mit aktuellem Wissen spielt man vorne mit. Ich verfolge mit großem Interesse die Entwicklungen in Technik, Design, User Experience und Development.</p>
        </div>
        <div class="content-item box">
          <h1>Wissen statt raten</h1>
          <p>Wo möglich, sollten Annahmen durch Beobachten der Zielgruppe, Prototypen und Tests geprüft werden. Erfahrung und ständiges Lernen helfen mir beim Finden starker Lösungen. Die restlichen Prozent können nur durch Analysen erreicht werden.</p>
        </div>
        <div class="content-item box">
          <h1>Der Nutzer ist König</h1>
          <p>Die Ziele und Wünsche des Nutzers müssen immer an erster Stelle stehen. Inhalt ohne Mehrwert lenkt ihn nur ab. Jeder Inhalt einer Website muss sinnvoll für den Nutzer sein. Wenn der Nutzer den Inhalt auch noch leicht und mit Freude aufnehmen kann, ist es perfekt.</p>
        </div>
        <div class="content-item box">
          <h1>Strukturiert vorgehen</h1>
          <p>Jeder muss zu jeder Zeit wissen, was er zu tun hat. Und jeder sollte nach seinen Fähigkeiten eingesetzt werden. Wenn mir die Leitung eines Teams anvertraut wird, sorge ich dafür, dass alle Beteiligten (samt Kunden) stets ein gutes Gefühl haben.</p>
        </div>
      </section>

  <!--   Frontend Engineer   -->
      <section class="content">
        <div class="content-item box active">
          <h1>Code-Qualität und Architektur</h1>
          <p></p>
        </div>
        <div class="content-item box">
          <h1>Quick prototyping</h1>
          <p></p>
        </div>
        <div class="content-item box">
          <h1>JavaScript, EcmaScript, TypeScript</h1>
          <p></p>
        </div>
        <div class="content-item box">
          <h1>Functional programming</h1>
          <p></p>
        </div>
        <div class="content-item box">
          <h1>Kommende Standards</h1>
          <p></p>
        </div>

      </section>

  <!--   Coach   -->
      <section class="content">
          <div class="content-item box active">
              <h1>UI Design Patterns</h1>
              <p>Pull-to-Refresh, Pinch-to-Peek, Swipe-for-Options und Sliding Panels zeigen, dass UID sich stetig entwickelt. </p>
              <p>Ich kenne die Stärken und Schwächen moderner UI Design Patterns und suche unentwegt nach neuen Erkenntnissen. </p>
            </div>
            <div class="content-item box">
              <h1>Mobile First</h1>
              <p>Auf Smartphones haben wir es mit geringer Aufmerksamkeit, kleinen Displays und geringer Bandbreite zu tun.</p>
              <p>Die Einschränkung ist ein guter Filter, um wichtige Inhalte zu identifizieren. Das ist ein Grund für Mobile First.</p>
           </div>
            <div class="content-item box">
              <h1>Content Strategy</h1>
              <p>Zu Recht gewinnt dieser Bereich immer mehr an Bedeutung. Content is king! Doch die Planung muss stimmen.</p>
              <p>Es sind die Inhalte, weshalb der Nutzer eine Website besucht. Sie haben endlich einen höheren Stellenwert verdient!</p>
           </div>
            <div class="content-item box">
              <h1>User Experience</h1>
              <p>Eine gute User Experience zeichnet sich durch Sinnhaftigkeit, leichte Nutzbarkeit und Joy of Use aus.</p>
              <p>Es gibt Apps und Websites, die eine ganz besondere Leichtigkeit, Eleganz und Geschwindigkeit ausstrahlen. Das sind die, die Erfolg haben.</p>
           </div>
            <div class="content-item box">
              <h1>Am Ball bleiben</h1>
              <p>Nur wer vorne mitspielt, darf dauerhaft mitspielen. Dazu muss man Hypes und Trends erkennen und bewerten können. Die digitale Welt ist im stetigen Wandel. Mein unstillbarer Wissensdurst hilft mir, hervorragende Lösungen zu schaffen, die besser sind als die der anderen.</p>
           </div>
      </section>
    </div>

</section>
