[data-aos='reveal-image'] {
  clip-path: circle(0% at center center);

  &.aos-animate {
    clip-path: circle(100% at center center);
  }
}

[data-aos='scale-center-x'] {
  transform-origin: center;
  transform: scale(0, 1);

  &.aos-animate {
    transform: scale(1, 1);
  }
}
