* {
  box-sizing: border-box;
}

body {
  --secondary: #3f3a4d;
  --primary: #e94664;
  display: grid;
  gap: 100px;
  margin: 50px auto 100px;
  max-width: 600px;
  padding: 10px;
  background-color: var(--secondary);
  transition: background 2s ease;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  font-weight: 200;
  line-height: 1.5;

  @media (min-width: 420px) {
    gap: 10vw;
    font-size: 22px;
  }
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 1.9rem;
}

h2 {
  color: white;
  font-size: 1.66666rem;
  margin: 0 0 30px;
}

ul {
  padding: 0;
}

a,
a:any-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--primary);
  transition: border-color 2s ease;
}

img {
  width: 100%;
}
