.contact {
  position: relative;

  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  input {
    display: none;
  }

  label {
    padding: 10px 0;
    flex: 1;
    text-align: center;
    white-space: nowrap;
    transition: none;

    > * {
      display: none;
      border-radius: 2px;
      position: absolute 100% 0 * 0;
      padding: 10px;
      color: var(--secondary) white;
      text-align: initial;
    }
  }

  input:checked + label {
    border-top-radius: 2px;
    color: var(--secondary) white;

    > * {
      margin-top: -2px;
      display: initial;
    }
  }
}
