.contact {
  position: relative;

  .contact-tabs {
    display: grid;
    justify-content: stretch;
    grid-auto-flow: column;
    border-top-radius: 2px;
    gap: 1px;
  }

  details {
    text-align: center;

    > summary {
      padding: 10px 6px;
      font-size: 0.8em;
      background: var(--light-bg);
      cursor: pointer;
      list-style: none;

      @media (min-width: 375px) {
        font-size: 1em;
      }

      &::-webkit-details-marker {
        display: none;
      }
    }

    > :not(summary) {
      display: none;
    }

    &[open] > summary {
      border-top-radius: 2px;
      color: var(--bg) var(--text);
    }

    &[open] > :not(summary) {
      display: initial;
      border-radius: 2px;
      position: absolute 100% 0 * 0;
      padding: 20px 14px;
      margin-top: -2px;
      color: var(--bg) var(--text);
      text-align: initial;
    }
  }
}
