.tags > * {
  background-color: white;
  color: var(--secondary);
  transition: var(--update_speed) ease;
  transition-property: background-color, color;
  margin: 0 4px 16px;
  padding: 4px 10px;
  display: block;

  @media (min-width: 420px) {
    display: inline-block;
  }

  &.special {
    background-color: var(--primary);
    color: white;
    font-style: italic;
    font-weight: 500;
  }
}
