// colors
$c-white: #fff;
$c-gray-light: #eceef0;
$c-gray: #c9ced1;
$c-gray-dark: #858F94;
$c-gray-darker: #5F686D;
$c-red: #ff5600;
$c-blue: #27a4e3;
$c-transparent-black: rgba(0, 0, 0, 0.4);

// shadow
$big-shadow: 5px 12px 30px $c-transparent-black;

//font size
$fs-huge: 4.6rem;
$fs-big: 1.66666rem;
$fs-normal: 1rem;

$grid-breakpoints: (
  xxs: 0,
  // Extra small screen / phone
  xs: 400,
  // Small screen / phone
  sm: 600px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
) !default;
